*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F1F3F4; 
    font-family:  Verdana, sans-serif; 
    min-width: 453px;
}

nav{
    background-color: #f9feff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

nav > .blocoNav{
    display: flex;
    position: absolute;
    justify-content: space-between;
    right: 5px;
    width: 160px;   
}

nav > .blocoNav ul{
    display: flex;
    justify-content: space-between;
    position: relative;
    list-style: none;
    width: 100px;
    top: 3px;
}

nav > .blocoNav ul a{
    font-size: 16px;
    text-decoration: none;
    color: #00A4D6;
    font-weight: 500; 
}

#principal{
    background-color: #36608759;
    border-radius: 6px;
    border-radius: 6px;
    top: 100px;
    position: relative;
    margin: auto;
    padding: 20px;
    width: 340px;
    height: 300px;
}

input{
    border: none; background-color: white;
    outline: none;
}

label{
    font-size: 12px;
}

#container{
    width: 235px;
    margin: auto ;
}

#saldo{
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 60px;
    border-radius: 5px 5px 0 0;
}

#saldo > input{
    margin: 5px 5px 0 5px;
    padding-top: 10px;
}

#saldo > label{
    padding-top: 5px;
    padding-left: 6px;
    font-size: 9px;
}

input::placeholder{
    font-size: 20px;
}

#blocoValorData{
    background-color:;
    display: flex;
    flex-direction: column;
    height: 60px;
    border-radius: 3px 5px 0 0;
    margin-top: 5px;
}





