body{
    font-family:  Verdana, sans-serif; 
    margin: 0;
}

.nav{
    background-color: #02a4dacc;
    display: flex; 
    align-items: baseline;
}

.menu ul{
    display: flex;
    list-style: none;
    margin: auto;
    align-items: center;
    height: 65px;
}

.menu a{
    display: flex;
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    margin: 20px 35px 20px 35px;
}